<h1>Стань участником модного движения!</h1>

<p>
  Получи возможность <a href="http://ya.ru/">найти</a> информацию об этом приложении.
</p>

<%= link_to "Регистрация!", signup_path, :class => "signup_button round" %>
