<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "О проекте", about_path %></li>
      <li><%= link_to "Наши контакты", contact_path %></li>
      <li><a href="http://lenta.ru/">Новости мира</a></li>
      <li><a href="http://sinoptik.ua/">Погода</a></li>
    </ul>
  </nav>
</footer>
